@media only screen and (max-width: 1200px) {
    
    .header-text {
        display: block;
        float: right;
        margin: 0;
    }
    .header-text h1 {
        text-align: center;
        font-size: 300%;
        padding-right: 0;
        color: #fff;
    }
    .header-text p {
        font-size: 120%;
        font-weight: 300;
        padding: 0 0 50px 0;
        color: #fff;
    }
    nav {padding-right: 30px;}
    nav img {margin-left: 30px;}

}

@media only screen and (max-width: 1023px) {
    nav {display: none;}
    
    .section-about p {
    font-weight: 300;
    font-size: 120%;
    padding: 0;
    }
    .section-about h2{font-size: 140%;}
    .row-about {
        background-color: #f8f8f8;
        padding: 0;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 0 5px #f4f4f4;
        box-shadow: 0 0 0 5px #f4f4f4;
    }
    .renoma-logo {
        height: 100px;
        width: auto;
        display: block;
        margin: auto;
    }
    .poland-logo {
        height: 100px;
        width: auto;
        display: block;
        margin: auto;
    }
    .renoma-box {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr 2fr;
    }

}
@media only screen and (max-width: 768px) {

    .header-text {
        display: block;
        float: right;
        margin: 0;
    }
    .header-text h1 {
        text-align: center;
        font-size: 300%;
        padding-right: 0;
        color: #fff;
    }
    .header-text p {
        font-size: 120%;
        font-weight: 300;
        padding: 0 0 50px 0;
        color: #fff;
    }
    
    .small-services-text {
        font-size: 80%;
    }
    .google-map {
        width: 400px;
        height: 300px;
    }
    nav {display: none;}
}
@media only screen and (max-width: 480px) {

    .renoma-logo {
        margin-bottom: 20px;
    }
    .section-about {
        padding: 0;
    }
    .renoma-box h2 {
        font-size: 160%;
    }
    .renoma-box {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .team-photo {
        height: 250px;
        width: auto;
    }
    .mobile-nav-icon {
        display: block;
    }
    nav {display: none;}

}

